// Import bootstrap sass variables
@import "~bootstrap/scss/_variables";

.home {
  @import "../../../../scss/variables";

  height: 100vh;
  background: var(--main-content-bg);

  #topbar-container {
	margin: 0;
	height: var(--topBar-height);
	background: var(--main-bg-color);
	box-shadow: var(--default-box-shadow);
  }
}
