// Import bootstrap sass variables
@import "~bootstrap/scss/_variables";

.home {
  @import "../../../../scss/variables";

  position: fixed;
  top: var(--content-top);
  left: var(--content-left);
  height: var(--content-height);
  width: var(--content-width);
  background: var(--main-content-bg);
  padding: 20px;

}
